@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$color-1: #d80101;
$color-2: #fefefe;
$pad:     0.725rem;

html,
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
  height: 100%;

}
.hide{
  display: none;
}

.bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 25%;
    margin-left: 20%;
    margin-right: 20%;
}
.head-nav {
  .icon2{
    opacity: 0;
    &:hover{
        opacity: 1;
        margin-top: -150%;
    }
    &:before{
        opacity: 1;
        margin-top: -150%;
    }
  }
  li{
    &:hover{
        background-color: $color-1;

        &:before{
            background-color: $color-1;
        }
        svg{
            background: $color-1;
            fill: #ed1c1c;
        }
        a{
          color: #eeeeee;
        }

    }
    &:before{
        position: absolute;
        left: -$pad;
        top: 0;
        width: $pad;
        height: 100%;
        content: "";
        background: #ebebeb;
        z-index: 1;
        transition: background 400ms;
    }
  }
  ul{
      margin: {top:$pad*2;right:0;bottom:0;left:0;}
      padding: 0;
      list-style: none;
  }
  li{
      position: relative;
      clear: both;
      width: 100%;
      padding: 0;
      transition: background 400ms;
      a{
          display: flex;
          padding: {top:4vh;bottom:4vh;}
      }
  }
  a{
      align-items: center;
      width: 100%;
      color: $color-2;
      text-decoration: none;
      transition: color 400ms;
      span{
          position: relative;
          display: block;
          z-index: 0;
          font-family: Roboto;
          text-indent: -20em;
          white-space: nowrap;
          transition: text-indent 200ms ease-in-out;
      }
  }
  .svg{
      position: relative;
      max-width: 200px;
      font-size: x-large;
      max-height: 200px;
      z-index: 1;
      fill: $color-2;
      background: transparent;
      transition: 200ms;
      width: 30px; height: 30px; font-size: 30px;
  }
  @media screen and (max: 768px){
      ul{
          margin: {top:$pad/4}
      }
  }
}
.main-head{
  position: fixed;
  bottom: 0;
  width: 80px;
  height: 100%;
  z-index: 1;
  background: #414141;
  transition: width 300ms;
  &:hover{
      width: 236px;
      & + .wrap-all-the-things{
          transform: translateX(136px);
          max-width: 100%;
          opacity: 0.4;
      }
      .head-nav{
          .icon {
            opacity: 0;
          }
          .icon2 {
            opacity: 100%;
          }
          li{
              @for $i from 1 through 4 {
                  &:nth-of-type(#{$i}){
                      span{
                        
                          transition-delay: 80ms * $i;
                      }
                  }
              }
          }
          span{
              text-indent: 0;
          }
      }
  }
  @media screen and (max: 768px){
      width: 70px;
      padding: 0 $pad;
      .head-nav{
          padding: {left:7px;}
      }
      &:hover{
          .head-nav{
              span{
                  text-indent: 1em;
              }
          }

      }
  }
}
.wrap-all-the-things{
  min-height: 100%;
  height: 100%;
  padding: {left:100px;}
  margin: {top: 0;}
  
  background-size: cover;
  background-position: center center;
  transition: transform 400ms, opacity 400ms;
  @media screen and (max: 480px){
      padding: {left:70px;}
  }
}
