.login-background{
    background-image: url('/assets/loginBG2.jpg'); 
    background-size:cover;
    background-position: top center;  
    height: 100%;
}
.card-login{
    padding: 0px 0px 20px 0px;
    .nexteer-logo{    
        margin: 0px 0px 0px 0px;
        padding: 20px 20px 10px 20px; 
        border-radius: 30px; 
        background-color: #ffffff;
        
        .app-name{
            padding: 20px 20px 0px 20px;
            span{
                color: rgb(190, 190, 190);
            }
            
        }
    }

}

.login-page{
    height: 100%;
}


.button {
  appearance: none;
  background-color: transparent;
  border: 3px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;

  min-height: 60px;
  min-width: 0;
  outline: none;

  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  transition: transform 0.5s ease, color 0.5s linear, opacity 0.5s linear;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}


.form-card {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
    max-width: 500px;
    padding: 0;
    margin: 50px auto;
  }
  
  .form-card:hover,
  .form-card:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .form-card:focus-within {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .form-actions {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2.25rem;
  }
  
  .form-actions .form-btn-cancel {
    -ms-flex-order: -1;
    order: -1;
  }
  
  .form-actions::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #999;
    opacity: 0.3;
  }
  
  .form-actions > * {
    -ms-flex: 1;
    flex: 1;
    margin-top: 0;
  }
  
  .form-fieldset {
    padding: 30px;
    border: 0;
  }
  
  .form-fieldset + .form-fieldset {
    margin-top: 15px;
  }
  
  .form-legend {
    padding: 1em 0 0;
    margin: 0 0 -0.5em;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .form-legend + p {
    margin-top: 1rem;
  }
  
  .form-element {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
  
  .form-element-hint {
    font-weight: 400;
    font-size: 0.6875rem;
    color: #a6a6a6;
    display: block;
  }
  
  .form-element-bar {
    position: relative;
    height: 3px;
    background: #999;
    display: block;
  }
  
  .form-element-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #141414;
    height: 3px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.7s ease;
    will-change: transform;
  }
  
  .form-element-label {
    position: absolute;
    top: 0.75rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #a6a6a6;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.5s ease, color 0.5s linear, opacity 0.5s linear;
    will-change: transform, color, opacity;
  }
  
  .form-element-field {
    outline: none;
    height: 1.5rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 100%;
    color: #333;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.5s ease;
    will-change: opacity;
  }
  
  .form-element-field:-ms-input-placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
  }
  
  .form-element-field::placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
  }
  
  .form-element-field:focus ~ .form-element-bar::after {
    transform: rotateY(0deg);
  }
  
  .form-element-field:focus ~ .form-element-label {
    color: #141414;
  }
  
  .form-element-field.-hasvalue,
  .form-element-field:focus {
    opacity: 1;
  }
  
  .form-element-field.-hasvalue ~ .form-element-label,
  .form-element-field:focus ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }
  
  .form-has-error .form-element-label.form-element-label,
  .form-has-error .form-element-hint {
    color: #141414;
  }
  
  .form-has-error .form-element-bar,
  .form-has-error .form-element-bar::after {
    background: #141414;
  }
  
  .form-is-success .form-element-label.form-element-label,
  .form-is-success .form-element-hint {
    color: #259337;
  }
  
  .form-is-success .form-element-bar::after {
    background: #259337;
  }
  
  input.form-element-field:not(:placeholder-shown),
  textarea.form-element-field:not(:placeholder-shown) {
    opacity: 1;
  }
  
  input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
  textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }
  
  textarea.form-element-field {
    height: auto;
    min-height: 3rem;
  }
  
  select.form-element-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .form-select-placeholder {
    color: #a6a6a6;
    display: none;
  }
  
  .form-select .form-element-bar::before {
    content: "";
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    border-bottom: 5px solid #999;
    border-right: 5px solid #999;
    display: block;
    right: 0.5em;
    bottom: 0;
    transition: transform 0.5s ease;
    transform: translateY(-100%) rotateX(0deg) rotate(45deg);
    will-change: transform;
  }
  
  .form-select select:focus ~ .form-element-bar::before {
    transform: translateY(-50%) rotateX(180deg) rotate(45deg);
  }
  /*
  .form-element-field[type="number"] {
    -moz-appearance: textfield;
  }
  */
  .form-element-field[type="number"]::-webkit-outer-spin-button,
  .form-element-field[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  body {
    margin: 40px auto;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  }