<div class="login-page">
    <div class="login-background d-flex flex-row justify-content-center align-items-center align-content-center">
        <mat-card class="card-login d-flex flex-row justify-content-center align-items-center align-content-center" style="border-radius: 30px;">
            <form [formGroup]="loginInfo">
                <div class="d-flex flex-column">
                    <div class="nexteer-logo d-flex flex-column justify-content-center align-items-center ">
                        <div>
                            <img src="./assets/logo_Black.jpg" 
                            style="display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 30%;"
                            />
                            <img src="./assets/SkillMatrixLogo.png" 
                            style="display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 80%;
                            padding: 0%;
                            "
                            />                            
                        </div>
                        <div class="app-name">
                            <span>Login with your NetID and password</span>
                        </div>
                    </div>
                    

                </div>

                <div class="form-element form-input" style="margin: 10% 20% 0% 20%;">
                    <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder="Please fill in your full name" type="input" required matInput formControlName="netId"/>
                    <div class="form-element-bar"></div>
                    <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">NetID</label>
                </div>
                <div class="form-element form-input" style="margin: 10% 20% 20% 20%;" >
                    <input id="field-x98ezh-s6s2g8-vfrkgb-ngrhef-atfkop" class="form-element-field" placeholder="Please enter your session's password" type="password" required matInput formControlName="password"/>
                    <div class="form-element-bar"></div>
                    <label class="form-element-label" for="field-x98ezh-s6s2g8-vfrkgb-ngrhef-atfkop">Password</label>
                    <small class="form-element-hint">error message will be typed here</small>
                </div>




                <div class="d-flex flex-row justify-content-center" style="margin-left: 30%; margin-right: 30%;">
                    <button class="button" (click)="loginUser()"><span>LOG IN</span></button>
                </div>

                <div style="text-align: center; margin-top: 100px;margin-bottom: 0px;">
                    <span style="font-size: small ; color:rgb(165, 165, 165);">© 2024 Skill Matrix by Nexteer Automotive</span>
                    </div>
            </form>
        </mat-card>
    </div>
</div>