<!--
<div>
    <button mat-raised-button color="accent" (click)="showSpinner()">Show Spinner</button>
</div>
<div>
    <button mat-raised-button color="primary" (click)="getAJoke()">Press me</button>
</div>

<p>{{setup}}</p>
<p>{{punchline}}</p>

-->


<div class="profile-container">
    <h3 style="margin: 50px;text-align: center;">Create new station operator</h3>
     <div class="level-grid">
       
        
            <input type="text" [(ngModel)]="title" >
            <h2>{{title}}</h2>
            
   <div class="level-grid-item" style="width: 500px;">

    <div style="text-shadow: 10px;text-align: center;font-size: larger;font-weight: 600;">Congratulations! You've passed to the next level 3</div>
     
    <div style="margin-left: 20%;margin-right: 20%;width: 40%;"><img src="assets/LevelUp.gif" alt="Level Up" style="width: 250px; height: 250px;"></div>
   
    </div>
   
     </div>
    </div>
