<div class="profile-container">
  <h3 style="margin: 50px;text-align: center;">Edit you personal informations</h3>
  <div class="level-grid">

    <form [formGroup]="myform!" (ngSubmit)="onSubmit()">
      <div class="level-grid-container">
        <div class="level-grid-item" style="margin-left: 25%;margin-right: 25%;width: 50%;">
          <div class="grid-item input" style="margin-left: 25%;margin-right: 25%;width: 50%;">

            <div class="grid-item input" style="margin-left: 25%;margin-right: 25%;width: 50%;">
              <input class="input1" style="width: 100%" formControlName="stationName" type="text"
                placeholder="Full name">
            </div>
            <div class="grid-item input" style="margin-left: 25%;margin-right: 25%;width: 50%;">
              <input class="input1" style="width: 100%" formControlName="stationName" type="text"
                placeholder="Station name">
            </div>
            <div class="grid-item input" style="margin-left: 25%;margin-right: 25%;width: 50%;">
              <input class="input1" style="width: 100%" formControlName="stationName" type="text"
                placeholder="Station name">
            </div>
            <div class="grid-item input" style="margin-left: 25%;margin-right: 25%;width: 50%;">
              <input class="input1" style="width: 100%" formControlName="stationName" type="text"
                placeholder="Station name">
            </div>
            <div class="grid-item input" style="margin-left: 25%;margin-right: 25%;width: 50%;">
              <button class="button-27" type="submit" style="width: 100%">Create User</button>
            </div>

          </div>
        </div>
      </div>
    </form>
   </div> 
</div> 